openapi: 3.1.0
info:
  contact:
    email: support@spaciv.com
    name: spaciv support
  description: |-
    The spaciv API powers workplace planning: modelling how many people an
    organisation has, how they work, and how much space that requires.

    ## Getting started

    1. Exchange credentials for an access token using one of the operations under
       **Authentication**.
    2. Send that token on every subsequent request as `Authorization: Bearer <token>`.
    3. Access tokens are short lived. Call `POST /v1/auth/refresh-token` to obtain a new one
       before the old one expires.

    ## Conventions

    Every operation is versioned under `/v1`. Collections are plural
    (`GET /v1/dashboards` lists, `POST /v1/dashboards` creates) and
    individual records live beneath them (`/v1/dashboards/{id}`). Singular
    paths such as `/v1/account`, `/v1/project` and `/v1/user`
    refer to the record the access token was issued for.

    Request and response bodies are JSON. Timestamps are RFC 3339. Identifiers are
    opaque strings unless documented otherwise, and collection operations return the
    records visible to the account the token was issued for.

    Failures return an [RFC 9457](https://www.rfc-editor.org/rfc/rfc9457) problem
    document with a `detail` field describing what went wrong.
  title: spaciv API
  version: 1.0.0
servers:
- description: Production
  url: https://api.spaciv.com
- description: Local development
  url: http://localhost:8090
security:
- accessToken: []
tags:
- description: "Exchange credentials for an access token and keep it fresh, and manage\
    \ the long-lived API keys used for programmatic access. Every other section assumes\
    \ a valid token."
  name: Authentication
- description: "Organisation-level records: profile details, hostname, available sign-in\
    \ methods and onboarding progress."
  name: Accounts
- description: "Files uploaded against an account, available to the users in it whose\
    \ roles grant access to them."
  name: Files
- description: "People inside an account, the roles granted to them, and their profile\
    \ images."
  name: Users
- description: "The workspace that scenarios, datasets and dashboards belong to."
  name: Projects
- description: Prebuilt projects used as the starting point for a new one.
  name: Template projects
- description: "Account-level variables shared by projects, dashboards and analysis\
    \ inputs."
  name: Variables
- description: Named variants of a project used to compare different assumptions side
    by side.
  name: Scenarios
- description: The buildings and sites a project is modelled against.
  name: Properties
- description: "Reusable groupings of modelled objects, their entries and attached\
    \ files."
  name: Object groups
- description: Uploaded floor plan drawings and the space data derived from them.
  name: Floor plans
- description: "Rules that turn headcount and activity into required space, plus their\
    \ illustrative images."
  name: Space rulesets
- description: Ratio-driven space models built from organisation-wide totals rather
    than individual teams.
  name: Top-down models
- description: Demand estimates derived from a top-down model.
  name: Needs
- description: Collections of records that supply the numbers behind a model.
  name: Datasets
- description: "Surveys sent to colleagues to gather demand data, and the links and\
    \ QR codes that open them."
  name: Data collection
- description: "Survey responses submitted by a contributor, including the public\
    \ submission flow."
  name: Contributions
- description: Runs a scenario through the calculation engine and streams back the
    resulting model.
  name: Analysis
- description: "Saved layouts of cards that visualise a project's results, and the\
    \ individual cards placed on them."
  name: Dashboards
- description: Exports of a project's results as a downloadable document.
  name: Reports
- description: Conversational assistant backed by the project's data.
  name: Assistant
- description: Connections to third-party tools such as Slack.
  name: Integrations
- description: "Customer-supplied logo and sign-in page background, and the public\
    \ branding a sign-in page renders for a hostname."
  name: Branding
- description: Available locales and the translated strings served to clients.
  name: Localisation
- description: Static reference lists used to populate form fields.
  name: Lookups
- description: "A record of who changed what, and when."
  name: Audit log
- description: Liveness and build information for the API itself.
  name: Service
- description: Operations reserved for spaciv tooling. Not part of the supported surface
    and may change without notice.
  name: Internal
paths:
  /:
    get:
      description: Returns `ok` when the API is running and reachable. No authentication
        required. Use as a liveness probe.
      operationId: service_get
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      security: []
      summary: Check service health
      tags:
      - Service
      x-sdk-params: false
  /v1/account:
    delete:
      description: "Permanently deletes the account the access token was issued for,\
        \ along with its projects and members. This cannot be undone. Requires the\
        \ *Manage my account* permission."
      operationId: accounts_delete
      parameters: []
      responses:
        "204":
          description: No Content
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      summary: Delete the current account
      tags:
      - Accounts
      x-sdk-params: false
    get:
      description: "Returns the account the access token was issued for. Use `GET\
        \ /v1/account/profile` for the full profile, including address and notification\
        \ preferences. Requires the *View account overview* permission."
      operationId: accounts_get
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Account"
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      summary: Get the current account
      tags:
      - Accounts
      x-sdk-params: false
    patch:
      description: Updates the account the access token was issued for. Only the fields
        present in the body are changed; omitted fields keep their current values.
        Requires the *Manage my account* permission.
      operationId: accounts_update
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AccountPutReqBody"
        required: true
      responses:
        "204":
          description: No Content
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      summary: Update the current account
      tags:
      - Accounts
      x-sdk-params: false
  /v1/account/auth-options:
    get:
      description: |-
        Returns every sign-in method configured for the account the access token was issued for, enabled or not, so it can be administered, along with whether single sign-on is available at all. Requires the *Manage my account* permission.

        Use `/v1/auth/options/{hostname}` instead to render a sign-in screen.
      operationId: accounts_list-auth-options
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountGetAuthOptionsResBody"
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      summary: List the current account's sign-in methods
      tags:
      - Accounts
      x-sdk-params: false
    patch:
      description: |-
        Enables or disables sign-in methods for the account the access token was issued for, and returns the full set as it now stands. Methods left out of the body keep their current setting, and a method listed more than once takes its last entry.

        Disabling the last enabled method returns `400 last-auth-option-disabled`, and enabling `sso` returns `400 sso-not-configured` when the account has no OIDC provider or `400 sso-multiple-providers` when it has more than one, as signing in with SSO resolves exactly one provider. An `sso` method already enabled without exactly one provider does not count as an enabled method. Disabling `sso` stops sign-in through the account's own identity provider; an account whose single sign-on comes from a centrally managed shared provider keeps that route whatever this setting says. A concurrent change to the account's sign-in methods, or removal of the OIDC provider the result relies on, returns `409 auth-options-changed`, and the request may be retried. Requires the *Manage my account* permission.
      operationId: accounts_update-auth-options
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AccountPatchAuthOptionsReqBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/AccountAuthOption"
                type: array
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      summary: Update the current account's sign-in methods
      tags:
      - Accounts
      x-sdk-params: false
  /v1/account/files:
    get:
      description: |-
        Returns a page of the files stored against the account, most recently uploaded first. Files belonging to other accounts are never returned.

        When `nextCursor` is present there are more files to fetch; pass it back as `cursor` to retrieve the following page. A page may come back shorter than `limit` while still having a `nextCursor`.

        A file that has just been uploaded may not appear here immediately, so clients should add the record returned by the upload operation to their list rather than refetching. Requires the *View file storage* permission.
      operationId: files_list-account-files
      parameters:
      - description: Maximum number of files to return in this page.
        explode: false
        in: query
        name: limit
        required: false
        schema:
          default: 50
          description: Maximum number of files to return in this page.
          format: int32
          maximum: 200
          minimum: 1
          type: integer
        style: form
      - description: Opaque pagination cursor returned as nextCursor by a previous
          response. A cursor is only valid for the account it was issued to.
        explode: false
        in: query
        name: cursor
        required: false
        schema:
          description: Opaque pagination cursor returned as nextCursor by a previous
            response. A cursor is only valid for the account it was issued to.
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListPage"
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      summary: List the account's files
      tags:
      - Files
      x-sdk-params: true
    post:
      description: |-
        Stores a file against the account and returns the record describing it. Send the request as `multipart/form-data` with a single file field named `file`. The uploaded file's name becomes the record's `name`, so it must be non-empty, at most 255 bytes and free of `/` and `\`. Any media type is accepted; `mimeType` is detected from the file's contents rather than from its name or the type the client declared. Maximum file size is 25 MiB, and uploads are rejected if a virus scan fails.

        The files stored against an account may total at most 1 GiB. An upload that would take the account past that is rejected with 413 and no file is added to the account, though the uploaded bytes may briefly remain in storage until they are cleaned up; deleting files frees their space. A 409 means concurrent uploads kept changing the account's usage, and the upload can be retried as it stands.

        The response body is the same record shape the list operation returns, so a client can add it to a list it already holds instead of refetching. Requires the *Edit file storage* permission.
      operationId: files_create-account-files
      parameters: []
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/files_create_account_files_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Record"
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      summary: Upload a file to the account
      tags:
      - Files
      x-sdk-params: true
  /v1/account/files/{id}:
    delete:
      description: |-
        Permanently deletes a file stored against the account, removing both its record and its stored content. This cannot be undone and any link to the file stops working. The file's size stops counting towards the account's 1 GiB storage quota once its record is removed.

        The record is removed before the content, so a request that fails partway can leave the stored content behind; repeating the same request is what clears it. Deleting a file that is already gone succeeds rather than returning 404, so a failed delete should always be retried; that includes a 409, which means concurrent changes to the account's files kept changing its storage usage during the request. The identifier must be one returned by the upload or list operations; a malformed identifier is rejected with 400. Requires the *Edit file storage* permission.
      operationId: files_delete-account-files
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountFileDeleteResponseWrapperBody"
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      summary: Delete an account file
      tags:
      - Files
      x-sdk-params: false
    patch:
      description: |-
        Changes the display name of a file stored against the account and returns the updated record. Only the name changes: the stored content, media type, size and identifier are untouched, so anything already referencing the file keeps working.

        The identifier must be one returned by the upload or list operations; a malformed identifier is rejected with 400. Returns 404 if the account has no file with this identifier. Requires the *Edit file storage* permission.
      operationId: files_update-account-files
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AccountFilePatchBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Record"
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      summary: Rename an account file
      tags:
      - Files
      x-sdk-params: false
  /v1/account/files/{id}/content:
    get:
      description: |-
        Returns the stored bytes of a file held against the account, with the `mimeType` recorded at upload as the `Content-Type`. Files belonging to other accounts are never returned.

        Served only from the user content host, so that a stored file is isolated from the application's own origin; any other host returns 404. The response always carries `Content-Disposition: attachment` and `Content-Security-Policy: default-src 'none'`, so a file is downloaded rather than rendered even when the browser could display it.

        The identifier must be one returned by the upload or list operations; a malformed identifier is rejected with 400 and an unknown one with 404. Requires the *View file storage* permission. Returns `403` (`file quarantined: it matched a virus signature`) when a rescan found the stored file matches a virus signature; the bytes are kept for investigation.
      operationId: files_get-account-files-content
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: OK
          headers:
            Content-Disposition:
              explode: false
              schema:
                type: string
              style: simple
            Content-Security-Policy:
              explode: false
              schema:
                type: string
              style: simple
            Content-Type:
              explode: false
              schema:
                type: string
              style: simple
            X-Content-Type-Options:
              explode: false
              schema:
                type: string
              style: simple
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      servers:
      - description: Production
        url: https://usercontent.spaciv.com
      - description: Local development
        url: http://localhost:8090
      summary: Download an account file
      tags:
      - Files
      x-sdk-params: false
  /v1/account/login-background:
    delete:
      description: "Removes the account's sign-in page background, so the sign-in\
        \ page falls back to the default Spaciv background. Requires the *Manage my\
        \ account* permission."
      operationId: branding_delete-account-login-background
      parameters: []
      responses:
        "204":
          description: No Content
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      summary: Delete the sign-in page background
      tags:
      - Branding
      x-sdk-params: false
    get:
      description: "Returns the raw image bytes of the account's sign-in page background,\
        \ or `404` when none has been uploaded. Requires the *View account overview*\
        \ permission. Returns `403` (`file quarantined: it matched a virus signature`)\
        \ when a rescan found the stored image matches a virus signature; the bytes\
        \ are kept for investigation."
      operationId: branding_get-account-login-background
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: OK
          headers:
            Content-Disposition:
              explode: false
              schema:
                type: string
              style: simple
            Content-Security-Policy:
              explode: false
              schema:
                type: string
              style: simple
            Content-Type:
              explode: false
              schema:
                type: string
              style: simple
            X-Content-Type-Options:
              explode: false
              schema:
                type: string
              style: simple
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      servers:
      - description: Production
        url: https://usercontent.spaciv.com
      - description: Local development
        url: http://localhost:8090
      summary: Get the sign-in page background
      tags:
      - Branding
      x-sdk-params: false
    put:
      description: "Replaces the full-screen background image shown on the account's\
        \ sign-in page. The request must be `multipart/form-data` with a single file\
        \ field named `login-background`. Accepted MIME types: `image/png`, `image/jpeg`,\
        \ `image/webp` (detected from file bytes). Maximum file size is 8 MiB. Requires\
        \ the *Manage my account* permission."
      operationId: branding_update-account-login-background
      parameters: []
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/files_create_account_files_request"
        required: true
      responses:
        "204":
          description: No Content
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      summary: Upload the sign-in page background
      tags:
      - Branding
      x-sdk-params: true
  /v1/account/logo:
    delete:
      description: Removes the stored `light` or `dark` logo variant for the account.
        Requires the *Manage my account* permission.
      operationId: branding_delete-account-logo
      parameters:
      - explode: false
        in: query
        name: type
        required: false
        schema:
          enum:
          - light
          - dark
          type: string
        style: form
      responses:
        "204":
          description: No Content
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      summary: Delete the account logo
      tags:
      - Branding
      x-sdk-params: true
    get:
      description: "Returns the raw image bytes for the account's `light` or `dark`\
        \ logo variant. If the requested variant has no logo and `noFallback` is false,\
        \ the opposite variant is returned instead. Requires the *View account overview*\
        \ permission. A variant that a rescan found to match a virus signature is\
        \ quarantined: it is skipped in favour of the opposite variant unless `noFallback`\
        \ is true, and returns `403` (`file quarantined: it matched a virus signature`)\
        \ otherwise."
      operationId: branding_get-account-logo
      parameters:
      - description: Which logo variant to retrieve. Falls back to the opposite variant
          unless noFallback is true.
        explode: false
        in: query
        name: type
        required: false
        schema:
          description: Which logo variant to retrieve. Falls back to the opposite
            variant unless noFallback is true.
          enum:
          - light
          - dark
          type: string
        style: form
      - description: Account ID to retrieve the logo for. Only honoured when the caller
          has the *Manage accounts* permission; otherwise the caller's own account
          is used.
        explode: false
        in: query
        name: id
        required: false
        schema:
          description: Account ID to retrieve the logo for. Only honoured when the
            caller has the *Manage accounts* permission; otherwise the caller's own
            account is used.
          format: int64
          type: integer
        style: form
      - description: "When true, returns 404 instead of falling back to the opposite\
          \ variant if the requested type has no logo."
        explode: false
        in: query
        name: noFallback
        required: false
        schema:
          description: "When true, returns 404 instead of falling back to the opposite\
            \ variant if the requested type has no logo."
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: OK
          headers:
            Content-Disposition:
              explode: false
              schema:
                type: string
              style: simple
            Content-Security-Policy:
              explode: false
              schema:
                type: string
              style: simple
            Content-Type:
              explode: false
              schema:
                type: string
              style: simple
            X-Content-Type-Options:
              explode: false
              schema:
                type: string
              style: simple
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      servers:
      - description: Production
        url: https://usercontent.spaciv.com
      - description: Local development
        url: http://localhost:8090
      summary: Get the account logo
      tags:
      - Branding
      x-sdk-params: true
    put:
      description: "Replaces the account's logo with the uploaded image. The request\
        \ must be `multipart/form-data` with a single file field named `logo-dark`\
        \ or `logo-light`. Accepted MIME types: `image/png`, `image/jpeg`, `image/gif`,\
        \ `image/webp`, `image/svg+xml` (detected from file bytes). Maximum file size\
        \ is 4 MiB. Requires the *Manage my account* permission."
      operationId: branding_update-account-logo
      parameters: []
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/files_create_account_files_request"
        required: true
      responses:
        "204":
          description: No Content
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      summary: Upload the account logo
      tags:
      - Branding
      x-sdk-params: true
  /v1/account/oidc-provider:
    delete:
      description: |-
        Removes the identity provider of the account the access token was issued for, together with its client secret, and disables the `sso` sign-in method in the same change. Sessions signed in through the provider can no longer refresh an access token scoped to the account.

        Returns `400 last-auth-option-disabled` when single sign-on is the account's only enabled member sign-in method, `404 oidc-provider-not-configured` when the account has no provider, and `409 auth-options-changed` when the account's sign-in methods or its provider changed concurrently, in which case the request may be retried. The change is written to the audit log. Requires the *Manage my account* permission. The account owning the centrally managed shared provider gets `403 shared-sso-provider`.
      operationId: accounts_delete-oidc-provider
      parameters: []
      responses:
        "204":
          description: No Content
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      summary: Delete the current account's OIDC provider
      tags:
      - Accounts
      x-sdk-params: false
    get:
      description: |-
        Returns the identity provider members of the account the access token was issued for sign in through with single sign-on. The client secret is never returned; `clientSecretSet` reports whether one is stored.

        Returns `404 oidc-provider-not-configured` when the account has no provider, and `409 sso-multiple-providers` when it has more than one. Requires the *Manage my account* permission. The account owning the centrally managed shared provider gets `403 shared-sso-provider`.
      operationId: accounts_get-oidc-provider
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountOIDCProvider"
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      summary: Get the current account's OIDC provider
      tags:
      - Accounts
      x-sdk-params: false
    patch:
      description: |-
        Changes the identity provider members of the account the access token was issued for sign in through with single sign-on. Fields left out keep their current value; the client secret is changed with `PUT /v1/account/oidc-provider/client-secret`.

        When `providerName` or `tenant` changes, the tenant must name a single organisation or the request returns `400 invalid-tenant`, and the provider's OpenID discovery document is fetched before anything is stored; a provider that cannot be reached returns `400 oidc-discovery-failed`. Returns `404 oidc-provider-not-configured` when the account has no provider, and `409 oidc-provider-changed` when it was changed concurrently. The change is written to the audit log. Requires the *Manage my account* permission. The account owning the centrally managed shared provider gets `403 shared-sso-provider`.
      operationId: accounts_update-oidc-provider
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AccountOIDCProviderPatch"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountOIDCProvider"
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      summary: Update the current account's OIDC provider
      tags:
      - Accounts
      x-sdk-params: false
    post:
      description: |-
        Registers the identity provider members of the account the access token was issued for sign in through with single sign-on. An account has at most one provider; creating a second returns `409 oidc-provider-exists`. Creating a provider does not enable the `sso` sign-in method; enable it with `PATCH /v1/account/auth-options` afterwards.

        The tenant must name a single organisation (Microsoft's `common`, `organizations` and `consumers` are rejected) or the request returns `400 invalid-tenant`. The provider's OpenID discovery document is fetched before anything is stored, and a provider that cannot be reached returns `400 oidc-discovery-failed`. The change is written to the audit log. Requires the *Manage my account* permission. The account owning the centrally managed shared provider gets `403 shared-sso-provider`.
      operationId: accounts_create-oidc-provider
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AccountPostOIDCProviderReqBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountOIDCProvider"
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      summary: Create the current account's OIDC provider
      tags:
      - Accounts
      x-sdk-params: false
  /v1/account/oidc-provider/client-secret:
    put:
      description: "Stores a new client secret for the identity provider of the account\
        \ the access token was issued for. The secret is write-only: no endpoint returns\
        \ it. Returns `404 oidc-provider-not-configured` when the account has no provider.\
        \ The change is written to the audit log without the secret. Requires the\
        \ *Manage my account* permission. The account owning the centrally managed\
        \ shared provider gets `403 shared-sso-provider`."
      operationId: accounts_update-oidc-provider-client-secret
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AccountPutOIDCClientSecretReqBody"
        required: true
      responses:
        "204":
          description: No Content
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      summary: Replace the current account's OIDC client secret
      tags:
      - Accounts
      x-sdk-params: false
  /v1/account/profile:
    get:
      description: "Returns the full profile of the account the access token was issued\
        \ for: company details, billing address, notification preferences and the\
        \ third-party integrations that are connected. Requires the *Manage my account*\
        \ permission."
      operationId: accounts_get-profile
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountDetailsResBody"
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      summary: Get the current account's profile
      tags:
      - Accounts
      x-sdk-params: false
  /v1/account/usage:
    get:
      description: "Returns how much the account the access token was issued for holds,\
        \ currently the number of distinct objects, both overall and in active object\
        \ groups only. The counts are running totals kept up to date as entries change;\
        \ right after a group is archived or restored they can lag for a short while,\
        \ and the objectCountsCalculating flag is set while an account's totals are\
        \ first being built. Requires the *Manage my account* permission."
      operationId: accounts_get-usage
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountUsageResBody"
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      summary: Get the current account's usage
      tags:
      - Accounts
      x-sdk-params: false
  /v1/account/usage/calculation-credits:
    get:
      description: "Returns the credits the account used on each of the last `days`\
        \ days, split into building layer data, aggregating it and the AI assistant.\
        \ A piece of calculation work is charged once however many times it is computed,\
        \ and a result already cached costs nothing. Credits are the same unit the\
        \ rest of the account's usage is counted in. Requires the *Manage my account*\
        \ permission. Returns `500` if the usage cannot be read."
      operationId: accounts_list-usage-calculation-credits
      parameters:
      - description: "How many days of usage to return, ending today (UTC)."
        explode: false
        in: query
        name: days
        required: false
        schema:
          default: 90
          description: "How many days of usage to return, ending today (UTC)."
          enum:
          - 30
          - 90
          - 365
          format: int64
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountCalculationUsageBody"
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      summary: Get the account's credit usage
      tags:
      - Accounts
      x-sdk-params: true
  /v1/accounts:
    get:
      description: "Returns every account the authenticated user is a member of, for\
        \ building an account switcher. Requires the *Manage accounts* permission."
      operationId: accounts_list
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/ListAccountsForUserRow"
                type: array
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      summary: List the accounts you belong to
      tags:
      - Accounts
      x-sdk-params: false
    post:
      description: |-
        Creates an account owned by the authenticated user and returns its identifier.

        Unless the template is `blank`, the account is seeded from a prebuilt one. Seeding runs in the background, so poll `GET /v1/accounts/{id}/setup-status` until it succeeds before sending the user into the new account.

        Account names are unique; reusing one returns `400 account-name-in-use`. Requires the *Manage my account* permission.
      operationId: accounts_create
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AccountPostReqBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                format: int64
                type: integer
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      summary: Create an account
      tags:
      - Accounts
      x-sdk-params: false
  /v1/accounts/{id}/hostname:
    get:
      description: Returns the subdomain an account signs in on. Open to unauthenticated
        callers so that a client can redirect a user to the right host before they
        log in.
      operationId: accounts_get-hostname
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      security: []
      summary: Get an account's hostname
      tags:
      - Accounts
      x-sdk-params: false
  /v1/accounts/{id}/setup-status:
    get:
      description: |-
        Long-polls until the account created by `POST /v1/accounts` has finished being seeded from its template, then returns `200`.

        The request is held open for up to 90 seconds and returns `408` if setup has not completed by then; call it again to keep waiting. The caller must be a member of the account and hold the *Manage my account* permission.
      operationId: accounts_get-setup-status
      parameters:
      - description: Identifier returned by POST /v1/accounts.
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: Identifier returned by POST /v1/accounts.
          format: int64
          type: integer
        style: simple
      responses:
        "204":
          description: No Content
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      summary: Wait for account setup to finish
      tags:
      - Accounts
      x-sdk-params: false
  /v1/admin/feature-groups:
    post:
      description: "Returns all feature flags grouped by availability tier, product,\
        \ and role, together with a mapping from feature index to feature name. Used\
        \ by the spaciv admin tooling to manage which features are enabled per group.\
        \ Requires the *Feature management* and *Sys admin* permissions."
      operationId: internal_create-admin-feature-groups
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FeatureGroupsResBody"
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      summary: List feature groups
      tags:
      - Internal
      x-sdk-params: false
  /v1/admin/flush-dead-letters:
    post:
      description: Triggers the event processor to re-attempt all events currently
        in the dead-letter queue. Requires the *Project admin controls* and *Sys admin*
        permissions.
      operationId: internal_create-admin-flush-dead-letters
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      summary: Flush dead-letter events
      tags:
      - Internal
      x-sdk-params: false
  /v1/admin/populate:
    post:
      description: "Copies all scenarios, properties, object groups, top-down models,\
        \ datasets, space rulesets, projects, dashboards, floor plans, and account\
        \ variables from a named template account into the caller's account. Local\
        \ development uses the seeded local template account for both data and files,\
        \ and returns 409 until its data and available files are imported. Populating\
        \ an account from itself is rejected. Requires the *Project admin controls*\
        \ and *Sys admin* permissions."
      operationId: internal_create-admin-populate
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              format: int32
              type: integer
        required: true
      responses:
        "204":
          description: No Content
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      summary: Populate account from template
      tags:
      - Internal
      x-sdk-params: false
  /v1/admin/reconcile-file-storage:
    post:
      description: |-
        Compares the account file storage bucket with the file records, in both directions, and reports every difference. Requires the *Project admin controls* and *Sys admin* permissions.

        An **orphan** is a stored object with no record. With `apply`, an orphan older than 24 hours is deleted after a system audit entry is written to its account's file audit trail; younger orphans may be uploads still in flight and are always kept. Orphans under an account that no longer exists, and keys that are not `account/{accountId}/{fileId}`, are reported and never deleted. Deleting an orphan never changes an account's storage usage, which counts records only.

        A **dangling record** is a record whose object is missing. It is reported, and logged as an error, but never changed: it still counts towards the account's usage until it is deleted through the file delete operation.

        Without `apply` nothing is changed. A run over every account may take minutes; pass `account` to limit it.

        `apply` is refused with 403 unless the environment sets `SPACIV_FILE_STORAGE_RECONCILE_APPLY` to `true`. Production sets it to `false`.
      operationId: internal_create-admin-reconcile-file-storage
      parameters:
      - description: Delete the orphaned objects that qualify. Omit to report what
          would be deleted and change nothing.
        explode: false
        in: query
        name: apply
        required: false
        schema:
          description: Delete the orphaned objects that qualify. Omit to report what
            would be deleted and change nothing.
          type: boolean
        style: form
      - description: Reconcile only this account. Omit to reconcile every account
          and every object in the bucket.
        explode: false
        in: query
        name: account
        required: false
        schema:
          description: Reconcile only this account. Omit to reconcile every account
            and every object in the bucket.
          format: int64
          minimum: 0
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReconcileReport"
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      summary: Reconcile account file storage
      tags:
      - Internal
      x-sdk-params: true
  /v1/admin/recreate-properties:
    post:
      description: Deletes all existing properties for the account and rebuilds them
        from the account's datasets and the defaults template. Also recreates any
        top-down-model predictions derived from those datasets. Requires the *Project
        admin controls* and *Sys admin* permissions.
      operationId: internal_create-admin-recreate-properties
      parameters: []
      responses:
        "204":
          description: No Content
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      summary: Recreate properties from datasets
      tags:
      - Internal
      x-sdk-params: false
  /v1/admin/regenerate-presets:
    get:
      description: Dispatches events to regenerate any preset images and derived assets
        for the caller's account. Requires the *Project admin controls* and *Sys admin*
        permissions.
      operationId: internal_list-admin-regenerate-presets
      parameters: []
      responses:
        "204":
          description: No Content
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      summary: Regenerate customer preset assets
      tags:
      - Internal
      x-sdk-params: false
  /v1/admin/repair-floorplan-references:
    post:
      description: "Rewrites dashboard visualisations and project variables in the\
        \ caller's account that still point at floor plans belonging to the template\
        \ account they were copied from, and reports how many were repaired. Requires\
        \ the *Project admin controls* and *Sys admin* permissions."
      operationId: internal_create-admin-repair-floorplan-references
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RepairFloorplansResBody"
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      summary: Repair floorplan references
      tags:
      - Internal
      x-sdk-params: false
  /v1/admin/retries:
    post:
      description: "Returns the events currently queued for retry in the event processor,\
        \ including the original timestamp, the scheduled retry timestamp, and the\
        \ last error. Requires the *Project admin controls* and *Sys admin* permissions."
      operationId: internal_create-admin-retries
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetriesResBody"
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      summary: List pending retries
      tags:
      - Internal
      x-sdk-params: false
  /v1/admin/update-feature-groups:
    post:
      description: "Toggles a single feature flag on or off for the specified role,\
        \ availability tier, or product tier. Supply exactly one of `role`, `availability`,\
        \ or `product`. Requires the *Feature management* and *Sys admin* permissions."
      operationId: internal_create-admin-update-feature-groups
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SysAdminUpdateFeatureGroupsParamsWrapperBody"
        required: true
      responses:
        "204":
          description: No Content
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      summary: Update a feature flag group assignment
      tags:
      - Internal
      x-sdk-params: false
  /v1/analyse:
    post:
      description: "Runs the scenario through the calculation engine and returns the\
        \ resulting model. A `400` response with a structured `kind` field indicates\
        \ a configuration problem such as a missing scenario, property, or unmapped\
        \ parameter — inspect the `kind` and the accompanying detail object to identify\
        \ what needs fixing. Requires the *View ideal space* permission."
      operationId: analysis_create-analyse
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CalcBody"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CalcRes"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CalcErrorBody"
          description: Calculation configuration is invalid
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      summary: Run analysis
      tags:
      - Analysis
      x-sdk-params: false
  /v1/api-keys:
    get:
      description: "Returns the calling user's keys for the current account, most\
        \ recently created first. Only metadata is returned: each key's name, display\
        \ prefix, expiry and last use, never the secret itself. Expired keys remain\
        \ listed for 30 days so they can be recognised before they disappear."
      operationId: authentication_list-api-keys
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/APIKey"
                type: array
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      summary: List API keys
      tags:
      - Authentication
      x-sdk-params: false
    post:
      description: "Issues a long-lived key for programmatic access, scoped to the\
        \ calling user and the given project. The secret is returned in the `key`\
        \ field of this response and never again, since only its hash is stored; a\
        \ client that loses it must create a replacement. Keys expire after `expiresInDays`,\
        \ between 1 and 90."
      operationId: authentication_create-api-keys
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ApiKeyPostReqBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiKeyPostResBody"
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      summary: Create an API key
      tags:
      - Authentication
      x-sdk-params: false
  /v1/api-keys/{id}:
    delete:
      description: "Permanently revokes one of the calling user's keys. Access tokens\
        \ already exchanged for it remain valid until they expire, and the key itself\
        \ may continue to authenticate for up to a minute while cached resolutions\
        \ age out."
      operationId: authentication_delete-api-keys
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "204":
          description: No Content
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      summary: Revoke an API key
      tags:
      - Authentication
      x-sdk-params: false
  /v1/assistant/chat:
    post:
      description: "Submits a message to the assistant and dispatches it for asynchronous\
        \ processing. Returns a `conversationId` and a `requestId` immediately; the\
        \ reply arrives out-of-band, through `GET /v1/assistant/conversations/{id}/poll`.\
        \ If `conversationId` is omitted a new conversation is started. `attachmentFileIds`\
        \ attaches up to 10 distinct files from account file storage and requires\
        \ View file storage permission. Files cannot be attached while the account\
        \ has turned the assistant's tools off. Requires the *AI assistant* permission."
      operationId: assistant_create-chat
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AssistantChatReq"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AssistantChatRes"
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      summary: Send a chat message
      tags:
      - Assistant
      x-sdk-params: false
  /v1/assistant/config:
    get:
      description: "Returns the account's assistant configuration: whether the account\
        \ may reach the Spaciv MCP server, the AI budget in credits the account has\
        \ set for itself (`budgetLimitCredits`, `null` when it has set none) along\
        \ with the most it may set that budget to (`budgetLimitMaxCredits`, `null`\
        \ for no ceiling, and what holds the account where it has set no budget of\
        \ its own or a larger one) and the minimum it is charged whatever it sets\
        \ (`budgetLimitMinCredits`, `null` for none, and not a bound on the budget:\
        \ an account may cap itself below it), what a credit costs the account in\
        \ euros, what it has spent so far this month (`spentCredits`, `null` while\
        \ that figure is unavailable), and the models it permits (empty for all of\
        \ them). Every credit figure is `null` rather than `0` where there is none,\
        \ so that no amount stands for the absence of one. `models` lists the whole\
        \ catalogue, not just the permitted subset, so that the settings page can\
        \ offer the models the account has not permitted. Requires either the *AI\
        \ assistant* or the *Manage my account* permission."
      operationId: assistant_get-config
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AssistantConfigBody"
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      summary: Get the assistant configuration
      tags:
      - Assistant
      x-sdk-params: false
    put:
      description: "Sets the account's assistant configuration. An `llmModel` here\
        \ becomes the default for every conversation in the account, overriding the\
        \ application default; send it empty to clear that override. `toolsEnabled`\
        \ controls whether the account may reach the Spaciv MCP server. `budgetLimit`\
        \ records the account's AI budget: omit it to leave the budget unchanged,\
        \ send `{}` to set no limit of the account's own, or send `{\"credits\": n}`\
        \ to cap the account at `n` credits, of which there are 1000 to the US dollar.\
        \ A limit must not exceed `budgetLimitMaxCredits` as the configuration endpoint\
        \ reports it for the account, and must be a budget of something rather than\
        \ `0`. It may sit below `budgetLimitMinCredits`, which is a minimum charge\
        \ rather than a bound, so that an account may cap what its current work costs.\
        \ Where terms agreed with the account cap it, setting no limit of its own\
        \ leaves it capped at those terms, which the configuration endpoint reports\
        \ as `budgetLimitMaxCredits` rather than as a limit of the account's own.\
        \ `permittedModels` restricts the models the account may use, and an empty\
        \ list permits every model; unlike the other fields it is always replaced\
        \ rather than merged, so a request that omits it clears it. Restricting `permittedModels`\
        \ so that they exclude a default set by an earlier request clears that default.\
        \ Returns `400` for an unsupported model, for an `llmModel` the same request\
        \ does not permit, or for a budget above the permitted maximum. Requires the\
        \ *Manage my account* permission."
      operationId: assistant_update-config
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AssistantConfigPutReq"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AssistantConfigPutRes"
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      summary: Set the assistant configuration
      tags:
      - Assistant
      x-sdk-params: false
  /v1/assistant/conversations:
    get:
      description: Returns the caller's own assistant conversations in the current
        project. A conversation belongs to the user who started it and is not visible
        to anyone else. Requires the *AI assistant* permission.
      operationId: assistant_list-conversations
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AssistantConversationListRes"
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      summary: List conversations
      tags:
      - Assistant
      x-sdk-params: false
  /v1/assistant/conversations/{id}:
    delete:
      description: Permanently removes a conversation and all its messages. Returns
        `404` if the conversation does not exist. Requires the *AI assistant* permission.
      operationId: assistant_delete-conversations
      parameters:
      - description: UUID of the conversation to delete.
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: UUID of the conversation to delete.
          type: string
        style: simple
      responses:
        "204":
          description: No Content
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      summary: Delete a conversation
      tags:
      - Assistant
      x-sdk-params: false
  /v1/assistant/conversations/{id}/poll:
    get:
      description: "Reports whether the conversation's current turn is still running,\
        \ and returns the messages recorded since `since` - the thoughts and actions\
        \ of a turn in progress as well as its answer. Omitting `since` returns the\
        \ conversation from its start, which is how a client restores one it was in\
        \ the middle of. Returns `404` if the conversation does not exist and `400`\
        \ if `since` is not a message id. Requires the *AI assistant* permission."
      operationId: assistant_poll-conversations
      parameters:
      - description: UUID of the conversation to poll.
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: UUID of the conversation to poll.
          type: string
        style: simple
      - description: Id of the newest message the caller already has. Omit to read
          the conversation from its start.
        explode: false
        in: query
        name: since
        required: false
        schema:
          description: Id of the newest message the caller already has. Omit to read
            the conversation from its start.
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AssistantChatPollBody"
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      summary: Poll a conversation
      tags:
      - Assistant
      x-sdk-params: true
  /v1/assistant/conversations/{id}/stop:
    post:
      description: Asks the assistant to stop the turn it is working on. The turn
        ends at its next step - a tool call already sent finishes and is recorded
        - so the conversation stays usable and keeps everything the turn did before
        it was stopped. Succeeds with nothing to do if no turn is running. Returns
        `404` if the conversation does not exist. Requires the *AI assistant* permission.
      operationId: assistant_stop-conversations
      parameters:
      - description: UUID of the conversation whose turn to stop.
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: UUID of the conversation whose turn to stop.
          type: string
        style: simple
      responses:
        "204":
          description: No Content
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      summary: Stop the running turn
      tags:
      - Assistant
      x-sdk-params: false
  /v1/assistant/models:
    get:
      description: "Returns the LLM models the account permits the assistant to use,\
        \ together with the default model that `POST /v1/assistant/chat` would select\
        \ for the current account. An account that permits no models in particular\
        \ gets the whole catalogue. Requires the *AI assistant* permission."
      operationId: assistant_list-models
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AssistantModelListBody"
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      summary: List available assistant models
      tags:
      - Assistant
      x-sdk-params: false
  /v1/audit-logs:
    get:
      description: |-
        Returns a paginated list of audit-log entries for the account. Specify `entity` to restrict to a single entity type, or pass `entity=all` to retrieve changes across every type the caller has permission to see.

        Use `nextCursor` from the response as the `cursor` query parameter to fetch the next page.
      operationId: audit-log_list
      parameters:
      - description: "Entity type to query. One of: dashboard, property, scenario,\
          \ floorplan, space-ruleset, top-down-model, object-group, datacollection,\
          \ contribution, i18n, user, file, variable, upload-quarantine. Pass \"all\"\
          \ to retrieve entries across all entity types the caller has permission\
          \ to see (entityId must be omitted)."
        explode: false
        in: query
        name: entity
        required: false
        schema:
          description: "Entity type to query. One of: dashboard, property, scenario,\
            \ floorplan, space-ruleset, top-down-model, object-group, datacollection,\
            \ contribution, i18n, user, file, variable, upload-quarantine. Pass \"\
            all\" to retrieve entries across all entity types the caller has permission\
            \ to see (entityId must be omitted)."
          type: string
        style: form
      - description: Restrict results to changes made to this specific entity. Cannot
          be used when entity=all.
        explode: false
        in: query
        name: entityId
        required: false
        schema:
          description: Restrict results to changes made to this specific entity. Cannot
            be used when entity=all.
          type: string
        style: form
      - description: Return only entries at or after this timestamp (RFC 3339). Omit
          for no lower bound.
        explode: false
        in: query
        name: from
        required: false
        schema:
          description: Return only entries at or after this timestamp (RFC 3339).
            Omit for no lower bound.
          format: date-time
          type: string
        style: form
      - description: Return only entries at or before this timestamp (RFC 3339). Omit
          for no upper bound.
        explode: false
        in: query
        name: to
        required: false
        schema:
          description: Return only entries at or before this timestamp (RFC 3339).
            Omit for no upper bound.
          format: date-time
          type: string
        style: form
      - explode: false
        in: query
        name: limit
        required: false
        schema:
          default: 100
          format: int32
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: Opaque pagination cursor returned as nextCursor by a previous
          response.
        explode: false
        in: query
        name: cursor
        required: false
        schema:
          description: Opaque pagination cursor returned as nextCursor by a previous
            response.
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetResponseBody"
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      summary: Query the audit log
      tags:
      - Audit log
      x-sdk-params: true
  /v1/auth/api-key-token:
    post:
      description: "Trades an API key for a short-lived access token carrying the\
        \ features its owner currently holds. Clients that make many calls should\
        \ prefer this over sending the key itself, and refresh the token when it expires.\
        \ Unlike the other operations in this section, no access token is required\
        \ to call it."
      operationId: authentication_create-auth-api-key-token
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AuthAPIKeyTokenReqBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthAPIKeyTokenResBody"
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      security: []
      summary: Exchange an API key for an access token
      tags:
      - Authentication
      x-sdk-params: false
  /v1/auth/login-oidc:
    get:
      description: |-
        Exchanges an authorisation code from your account's configured OIDC provider (e.g. Microsoft Entra, PingFederate) for an access token and a refresh token cookie. Returns `401` before code exchange if single sign-on is disabled for the account.

        If no user with the provider-returned email address exists it is created automatically. Call `GET /v1/auth/oidc/{hostname}` first to start the OIDC flow and obtain the code.
      operationId: authentication_get-auth-login-oidc
      parameters:
      - explode: false
        in: query
        name: code
        required: false
        schema:
          type: string
        style: form
      - description: The account hostname that determines which OIDC provider to authenticate
          against.
        explode: false
        in: query
        name: hostname
        required: false
        schema:
          description: The account hostname that determines which OIDC provider to
            authenticate against.
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthLoginResBody"
          description: OK
          headers:
            Set-Cookie:
              explode: false
              schema:
                type: string
              style: simple
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      security: []
      summary: Sign in via OIDC
      tags:
      - Authentication
      x-sdk-params: true
  /v1/auth/login-password:
    post:
      description: "Authenticates with an email address and plaintext password. Returns\
        \ a short-lived access token in the response body and sets a long-lived refresh\
        \ token cookie (`__Host-token`, or `token` when `AUTH_COOKIE_SECURE` is false).\
        \ Returns `401` if the credentials do not match or email-and-password sign-in\
        \ is disabled for the account."
      operationId: authentication_create-auth-login-password
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AuthLoginPassReqBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthLoginResBody"
          description: OK
          headers:
            Set-Cookie:
              explode: false
              schema:
                type: string
              style: simple
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      security: []
      summary: Sign in with email and password
      tags:
      - Authentication
      x-sdk-params: false
  /v1/auth/login-public:
    post:
      description: |-
        Creates an anonymous session for a data collection contributor who has no spaciv account. The caller must pass `acceptTerms: true`; the request is rejected with `400` otherwise. Returns `401` if public sign-in is disabled for the account.

        The resulting access token grants only the permissions needed to view and submit public surveys.
      operationId: authentication_create-auth-login-public
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AuthLoginPublicReqBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthLoginResBody"
          description: OK
          headers:
            Set-Cookie:
              explode: false
              schema:
                type: string
              style: simple
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      security: []
      summary: Sign in as a public contributor
      tags:
      - Authentication
      x-sdk-params: false
  /v1/auth/login-token:
    post:
      description: "Exchanges a short-lived magic link token (issued by `POST /v1/auth/send-token`)\
        \ for an access token and a refresh token cookie. Returns `401` if the token\
        \ is invalid or expired, or magic-link sign-in is disabled for the account."
      operationId: authentication_create-auth-login-token
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AuthLoginTokenReqBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthLoginResBody"
          description: OK
          headers:
            Set-Cookie:
              explode: false
              schema:
                type: string
              style: simple
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      security: []
      summary: Sign in with a magic link token
      tags:
      - Authentication
      x-sdk-params: false
  /v1/auth/logout:
    post:
      description: "Revokes the session behind the refresh token cookie (`__Host-token`,\
        \ or `token` when `AUTH_COOKIE_SECURE` is false), so it can no longer be exchanged\
        \ for access tokens, and clears the cookie. Succeeds without revoking anything\
        \ when the cookie is missing or invalid. Returns `500` without clearing the\
        \ cookie when the revocation itself fails, so the session is still live and\
        \ the sign-out should be retried. The access token itself remains valid until\
        \ it expires (typically within 5 minutes)."
      operationId: authentication_create-auth-logout
      parameters:
      - explode: true
        in: cookie
        name: __Host-token
        required: false
        schema:
          $ref: "#/components/schemas/Cookie"
        style: form
      - explode: true
        in: cookie
        name: token
        required: false
        schema:
          $ref: "#/components/schemas/Cookie"
        style: form
      responses:
        "204":
          description: No Content
          headers:
            Set-Cookie:
              explode: false
              schema:
                type: string
              style: simple
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      security: []
      summary: Sign out
      tags:
      - Authentication
      x-sdk-params: true
  /v1/auth/options/{hostname}:
    get:
      description: "Returns the sign-in methods configured for the account on a given\
        \ hostname, each with whether it is enabled, so a login screen can offer the\
        \ right options. Only `email_password`, `magic_link` and `sso` are returned,\
        \ as a login screen cannot render any other method. An enabled `sso` method\
        \ is omitted unless the account has exactly one OIDC provider, as signing\
        \ in with SSO resolves exactly one; a disabled `sso` method is returned regardless.\
        \ Open to unauthenticated callers."
      operationId: accounts_get-auth-options
      parameters:
      - description: Subdomain the user is signing in on.
        explode: false
        in: path
        name: hostname
        required: true
        schema:
          description: Subdomain the user is signing in on.
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/AccountAuthOption"
                type: array
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      security: []
      summary: List sign-in methods for a hostname
      tags:
      - Accounts
      x-sdk-params: false
  /v1/auth/password:
    put:
      description: Sets the password for the user identified by a password-reset token
        (issued by `POST /v1/auth/send-password-reset`). Returns `401` if the token
        is invalid or expired.
      operationId: authentication_update-auth-password
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PasswordPutReqBody"
        required: true
      responses:
        "204":
          description: No Content
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      security: []
      summary: Set a new password
      tags:
      - Authentication
      x-sdk-params: false
  /v1/auth/refresh-token:
    post:
      description: |-
        Exchanges the refresh token cookie (`__Host-token`, or `token` when `AUTH_COOKIE_SECURE` is false) for a fresh short-lived access token. Optionally scope the token to a specific account or project by providing `account` and/or `project` in the request body. For OIDC accounts, the provider's token is silently re-validated on each refresh.

        A successful refresh rotates the cookie, keeping the session's original expiry. The session's refresh token advances at most once a minute: within that minute, presenting the current token sets no cookie, and presenting the token it just replaced sets a cookie for the current one. A superseded refresh token is still accepted for a short grace period, so parallel refreshes and retries succeed; presenting it after that revokes the whole session.

        Returns `401` when no access token could be minted: an invalid refresh token, a missing or signed-out session, a reused refresh token, a deleted user, or, for a refresh scoped to an `account`, unusable session data or an OIDC provider that rejects the session's token. Returning the user to sign-in is the usual response.

        Returns `503` when, for a refresh scoped to an `account`, the OIDC provider could not be reached or reported a transient failure. The session is still valid, so retry the refresh later rather than signing the user out.

        Returns `403` when the session is valid but is not authorised for the requested `account`, which typically means the account mandates a sign-in method the session did not use. The session stays usable for other accounts, so keep it and cancel only the account-scoped action.
      operationId: authentication_create-auth-refresh-token
      parameters:
      - explode: true
        in: cookie
        name: __Host-token
        required: false
        schema:
          $ref: "#/components/schemas/Cookie"
        style: form
      - explode: true
        in: cookie
        name: token
        required: false
        schema:
          $ref: "#/components/schemas/Cookie"
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AuthRefreshTokenReqBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthRefreshTokenResBody"
          description: OK
          headers:
            Set-Cookie:
              explode: false
              schema:
                type: string
              style: simple
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      security: []
      summary: Refresh an access token
      tags:
      - Authentication
      x-sdk-params: true
  /v1/auth/send-password-reset:
    post:
      description: "Sends a password-reset email to the given address. Always returns\
        \ `200` regardless of whether the address is registered, to avoid account\
        \ enumeration. The emailed token is valid for 15 minutes and must be passed\
        \ to `PUT /v1/auth/password`."
      operationId: authentication_create-auth-send-password-reset
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SendPasswordPutReqBody"
        required: true
      responses:
        "204":
          description: No Content
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      security: []
      summary: Request a password reset
      tags:
      - Authentication
      x-sdk-params: false
  /v1/auth/send-token:
    post:
      description: "Sends a one-time sign-in link to the given email address. Always\
        \ returns `200` regardless of whether the address is registered, to avoid\
        \ account enumeration. The link is valid for 15 minutes; pass its token to\
        \ `POST /v1/auth/login-token`."
      operationId: authentication_create-auth-send-token
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AuthSendTokenReqBody"
        required: true
      responses:
        "204":
          description: No Content
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      security: []
      summary: Send a magic link sign-in email
      tags:
      - Authentication
      x-sdk-params: false
  /v1/branding/{hostname}:
    get:
      description: "Returns the account name and which branding images exist for the\
        \ account on a given hostname, so a sign-in page can render the account's\
        \ branding without probing for images. An unknown hostname returns an empty\
        \ account name and no images. Open to unauthenticated callers."
      operationId: branding_get
      parameters:
      - description: Subdomain the user is signing in on.
        explode: false
        in: path
        name: hostname
        required: true
        schema:
          description: Subdomain the user is signing in on.
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Branding"
          description: OK
          headers:
            Cache-Control:
              explode: false
              schema:
                type: string
              style: simple
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      security: []
      summary: Get sign-in page branding for a hostname
      tags:
      - Branding
      x-sdk-params: false
  /v1/branding/{hostname}/login-background:
    get:
      description: "Returns the raw image bytes of the sign-in page background of\
        \ the account on a given hostname. Returns `404` when the account has no background\
        \ or the hostname is unknown. Supports `If-None-Match`. Open to unauthenticated\
        \ callers. Returns `403` (`file quarantined: it matched a virus signature`)\
        \ when a rescan found the stored image matches a virus signature; the bytes\
        \ are kept for investigation."
      operationId: branding_get-login-background
      parameters:
      - description: Subdomain the user is signing in on.
        explode: false
        in: path
        name: hostname
        required: true
        schema:
          description: Subdomain the user is signing in on.
          type: string
        style: simple
      - description: "The backgroundVersion from GET /v1/branding/:hostname, used\
          \ only to bust caches."
        explode: false
        in: query
        name: v
        required: false
        schema:
          description: "The backgroundVersion from GET /v1/branding/:hostname, used\
            \ only to bust caches."
          type: string
        style: form
      - explode: false
        in: header
        name: If-None-Match
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: OK
          headers:
            Cache-Control:
              explode: false
              schema:
                type: string
              style: simple
            Content-Disposition:
              explode: false
              schema:
                type: string
              style: simple
            Content-Security-Policy:
              explode: false
              schema:
                type: string
              style: simple
            Content-Type:
              explode: false
              schema:
                type: string
              style: simple
            ETag:
              explode: false
              schema:
                type: string
              style: simple
            X-Content-Type-Options:
              explode: false
              schema:
                type: string
              style: simple
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      security: []
      servers:
      - description: Production
        url: https://usercontent.spaciv.com
      - description: Local development
        url: http://localhost:8090
      summary: Get the sign-in page background for a hostname
      tags:
      - Branding
      x-sdk-params: true
  /v1/branding/{hostname}/logo:
    get:
      description: "Returns the raw image bytes of the `light` or `dark` logo of the\
        \ account on a given hostname, falling back to the opposite variant. Returns\
        \ `404` when the account has no logo or the hostname is unknown. Supports\
        \ `If-None-Match`. Open to unauthenticated callers. A variant that a rescan\
        \ found to match a virus signature is quarantined: it is skipped in favour\
        \ of the opposite variant, and returns `403` (`file quarantined: it matched\
        \ a virus signature`) otherwise."
      operationId: branding_get-logo
      parameters:
      - description: Subdomain the user is signing in on.
        explode: false
        in: path
        name: hostname
        required: true
        schema:
          description: Subdomain the user is signing in on.
          type: string
        style: simple
      - description: Which logo variant to retrieve. Falls back to the opposite variant
          when the requested one has no logo.
        explode: false
        in: query
        name: type
        required: false
        schema:
          description: Which logo variant to retrieve. Falls back to the opposite
            variant when the requested one has no logo.
          enum:
          - light
          - dark
          type: string
        style: form
      - description: "The logoVersion from GET /v1/branding/:hostname, used only to\
          \ bust caches."
        explode: false
        in: query
        name: v
        required: false
        schema:
          description: "The logoVersion from GET /v1/branding/:hostname, used only\
            \ to bust caches."
          type: string
        style: form
      - explode: false
        in: header
        name: If-None-Match
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: OK
          headers:
            Cache-Control:
              explode: false
              schema:
                type: string
              style: simple
            Content-Disposition:
              explode: false
              schema:
                type: string
              style: simple
            Content-Security-Policy:
              explode: false
              schema:
                type: string
              style: simple
            Content-Type:
              explode: false
              schema:
                type: string
              style: simple
            ETag:
              explode: false
              schema:
                type: string
              style: simple
            X-Content-Type-Options:
              explode: false
              schema:
                type: string
              style: simple
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      security: []
      servers:
      - description: Production
        url: https://usercontent.spaciv.com
      - description: Local development
        url: http://localhost:8090
      summary: Get the account logo for a hostname
      tags:
      - Branding
      x-sdk-params: true
  /v1/dashboards:
    get:
      description: "Returns the ordered list of dashboards belonging to the current\
        \ project, with each entry containing the dashboard ID, name, and description.\
        \ Requires the *View org model* permission."
      operationId: dashboards_list
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DashboardListRes"
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      summary: List dashboards
      tags:
      - Dashboards
      x-sdk-params: false
    post:
      description: |-
        Creates a new dashboard for the current project and returns its UUID.

        If a dashboard with the supplied `id` already exists, the call is idempotent: it ensures the dashboard is indexed under the project and returns the existing ID without overwriting its content. The `account` ID is reserved for the account-level dashboard; project-scoped requests supplying it are rejected with 400. Returns `400` when a row-break card has items or a control is missing a variable or duplicates another control on the same card. Requires the *Edit org model* permission, and the *Variable controls* permission when any card has controls.
      operationId: dashboards_create
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DashboardPost"
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      summary: Create a dashboard
      tags:
      - Dashboards
      x-sdk-params: false
  /v1/dashboards/{id}:
    delete:
      description: Permanently deletes a dashboard and removes it from the project's
        ordered index. Requires the *Edit org model* permission.
      operationId: dashboards_delete
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No Content
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      summary: Delete a dashboard
      tags:
      - Dashboards
      x-sdk-params: false
    get:
      description: "Returns the full content of a single dashboard, including its\
        \ card layout. Returns `404` if the dashboard does not exist or does not belong\
        \ to the current project. Requires the *View org model* permission."
      operationId: dashboards_get
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DashboardChangelogBody"
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      summary: Get a dashboard
      tags:
      - Dashboards
      x-sdk-params: false
    patch:
      description: "Updates the name or description of a dashboard, or changes its\
        \ position in the project's ordered list. Supply `move` with `\"Up\"` or `\"\
        Down\"` to reorder; omit it to update metadata only. Returns `404` if the\
        \ dashboard does not exist. Requires the *Edit org model* permission."
      operationId: dashboards_update
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DashboardUpdate"
      responses:
        "204":
          description: No Content
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      summary: Update a dashboard
      tags:
      - Dashboards
      x-sdk-params: false
  /v1/dashboards/{id}/cards:
    delete:
      description: Removes the card at the given zero-based `index` from the dashboard's
        card list. Cards that follow it are shifted up. Out-of-range indices are silently
        ignored. Returns `404` if the dashboard does not exist. Requires the *Edit
        org model* permission.
      operationId: dashboards_delete-cards
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DashboardCardDelete"
      responses:
        "204":
          description: No Content
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      summary: Remove a card from a dashboard
      tags:
      - Dashboards
      x-sdk-params: false
    patch:
      description: "Applies a single action to a card on a dashboard. Use `moveCard`\
        \ to swap two cards by their zero-based indices, `reorderCard` to move the\
        \ card at `oldIndex` to `newIndex` (zero-based) while shifting the cards in\
        \ between, or `updateCard` to replace the content of a card at a given index,\
        \ including the order of its visualisation and control items. Out-of-range\
        \ indices are silently ignored. Returns `400` when a row-break card has items\
[...]
